<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FCKeditor:BasePath" value="/fckeditor/"/>
    <add key="ConnectionString" value="server=.;database=Daiv_OA;user=sa;pwd=sa123456;"/>
    <add key="AutoTask:Password" value="7D57B41E5FF578B083D151CAEECB6204"/>

  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime maxRequestLength="2048000" executionTimeout="360"/>
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--<authentication mode="Windows"/>-->
    <httpHandlers>
      <!--注册大附件-->
      <add verb="*" path="Telerik.RadUploadProgressHandler.aspx" type="Telerik.WebControls.RadUploadProgressHandler, RadUpload.Net2"></add>
    </httpHandlers>
    <httpModules>
      <!--注册大附件-->
      <add name="RadUploadModule" type="Telerik.WebControls.RadUploadHttpModule, RadUpload.Net2"/>
    </httpModules>
    <pages validateRequest="false" enableSessionState="true" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never"/>
    <customErrors mode="Off" defaultRedirect="Outerror.aspx">
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>